.content-wrapper{
	&.style-1{
		.word-rotate-box:after {
			background: rgba(255, 255, 255, 0.95);
		}
		.content-media{
			margin-left: -40px;
			padding-right: 40px;
			position: relative;
			margin-bottom: 85px;
			
			.dz-media{
				z-index: 1;
				border-radius: 0px 0px 0px 150px;
				height: 620px;
				
				img{
					height: 100%;
					object-fit: cover;
				}
			}
			.item4{
				position: absolute;
				top: 30px;
				left: -30px;
				height: 100%;
				width: 218px;
				
				svg{
					width: 100%;
					height: 100%;
				}
			}
			.item3{
				position: absolute;
				bottom: -85px;
				z-index: 2;
				left: 26%;
				transform: translateX(-50%);	
			}
		}
		.info-content{
			position: relative;
			
			.bottom-media{
				position: absolute;
				bottom: -11%;
				right: -12%;
				
				img{
					max-width: 150px;
					height: auto;
				}
				.item1{
					position: absolute;
					transform: rotate(-20deg);
					left: -60%;
				}
			}
		}
		@include respond('laptop'){
			.content-media{
				margin-left: 0;
			}
			.info-content{
				.bottom-media {
					right: -30px;
					img {
						max-width: 120px;
					}
				}
			}
		}
		@include custommq ($max:1380px){
			.info-content{
				.bottom-media {
					display: none;
				}
			}
			.content-media{
				.dz-media{
					height: 520px;
					border-radius: 0px 0px 0px 120px;
				}
				.item4 {
					width: 40%;
				}
			}
		}
		@include respond('tab-port'){
			.content-media{
				margin-left: 30px;
				padding-right: 0;
				
				.item4 {
					width: 31%;
				}
				.item3 {
					bottom: -65px;
				}
			}
		}
		@include respond('phone-land'){
			.content-media{
				.item4 {
					width: 42%;
				}
				.item3{
					left: 40%;
				}
			}
		}
		@include respond('phone'){
			.content-media{
				margin-left: 15px;
				
				.dz-media{
					height: 350px;
					border-radius: 0px 0px 0px 80px;
				}
				.item4{
					left: -15px;
					width: 38%;
				}
			}
		}
	}
	&.style-2{
		.dz-media{
			border-radius: 20px;
		}
		.content-media{
			position: relative;
			
			.item1{
				position: absolute;
				bottom: 20px;
				right: 28px;
				left: 28px;
				background-color: #fff;
				border-radius: 20px;
				padding: 15px 20px 15px 25px;
				display: flex;
				justify-content: space-between;
				gap: 15px;
				
				@include respond('phone-land'){
					flex-direction: column;
					padding: 15px;
				}
				@include respond('phone'){
					bottom: 10px;
					right: 10px;
					left: 10px;
				}
			}
		}
		.content-info{
			padding-right: 30px;

			&.right{
				padding-left: 30px;
				padding-right: 0;
			}
		}
		@include respond('tab-land'){
			.content-info{
				padding-right: 0;

				&.right{
					padding-left: 30px;
					@include respond("tab-port"){
						padding-left: 0;
					}
				}
			}
		}
	}
	&.style-3{
		.content-info{
			margin-bottom: 70px;
			
			@include respond('laptop'){
				margin-bottom: 40px;
			}
			@include respond('phone'){
				margin-bottom: 0;
			}
		}
		.content-media{
			position: relative;
			
			& > .dz-media{
				position: relative;
				z-index: 1;
				padding: 0 100px 0 50px;
				
				@include respond('phone-land'){
					padding: 0 30px 0 30px;
				}
			}
		}
		.item1,
		.item2,
		.item3{
			position: absolute;
		}
		.item1{
			bottom: -100px;
			left: -65px;
			text-align: center;
			right: 15px;
			
			svg{
				-webkit-animation: circleWrapper2 25s linear infinite;
				-moz-animation: circleWrapper2 25s linear infinite;
				-ms-animation: circleWrapper2 25s linear infinite;
				-o-animation: circleWrapper2 25s linear infinite;
				animation: circleWrapper2 25s linear infinite;				
			}
		}
		.item2{
		    left: -15px;
			top: 45%;
			z-index: 1;
		}
		.item3{
			bottom: 75px;
			right: 25px;
			width: 320px;
			z-index: 1;
		}
		@include respond('phone'){
			.item2,
			.item3{
				display: none;
			}
			.item1{
				left: 0;
				right: 0;
			}
		}
	}
	&.style-4{
		.content-media{
			.img1,
			.img2{
				img{
					border-radius: var(--radius-lg);
					width: 100%;
					object-fit: cover;
				}
			}
			.img1{
				position: relative;

				.call-widget{
					height: 52px;
					bottom: 25px;
					left: 20px;
    				right: 20px;

					.active{
						width: 46px;
						height: 46px;
					}
				}
				.video-bx1{
					position: absolute;
					top: 61%;
					left: -12%;
					border-radius: 15px 15px 0px 15px;
					padding: 12px 20px;
					
					span{
						font-size: 14px;
					}
				}
			}
			&.style-2{
				.img1,
				.img2{
					img{
						border-radius: 30px;
					}
				}
				.img2{
					img{
						height: 430px;
					}
				}
			}
		}
		.content-info{
			padding-right: 50px;
		}
		.img1 img{
			height: 450px;
		}
		.img2 img{
			height: 345px;	
		}	
		.widget-rating2{
		    margin-top: 50px;
			box-shadow: none;
			width: 100%;
			padding: 25px 25px 55px 25px;
			margin-bottom: -30px;
			
			img {
				width: 60px;
				min-width: 60px;
			}
		}
		@include respond('tab-land'){
			.widget-rating2{
				padding: 20px 20px 50px 20px;
				img {
					width: 44px;
					min-width: 45px;
				}
			}
			.content-info{
				padding-right: 0;
			}
			.content-media .img1 .video-bx1 {
				display: none;
			}
		}
		@include respond('phone-land'){
			.widget-rating2{
				margin-top: 20px;
			}
			.img2 img {
				height: 255px;
			}
			.img1 img {
				height: 335px;
			}
		}
	}
	&.style-5{
		.content-info{
			margin-left: -20px;
			margin-right: -20px;
			height: 690px;
		}
		.content-media{
			margin-right: 50px;
			
			.dz-media{
				height: 690px;
				
				img{
					height: 100%;
					object-fit: cover;
				}
			}
		}
		@include respond('tab-land'){
			.content-media{
				margin-right: 30px;
				
				.dz-media{
					height: 450px;
				}
			}
			.content-info{
				height: 450px;
			}
		}
		@include respond('tab-port'){
			.content-media{
				margin-right: 0;
				
				.dz-media{
					height: 450px;
				}
			}
			.content-info{
				height: 550px;
				margin-left: 0;
				margin-right: 0;
			}
		}
		@include respond('phone-land'){
			.content-info{
				height: 100%;
			}
		}
	}
	&.style-6{
		overflow: hidden;
		
		@include respond('tab-port'){
			padding: 70px 0 70px;
		}
		@include respond('phone-land'){
			padding: 50px 0 50px;
		}
		@include respond('phone'){
			padding: 40px 0 40px;
		}
		.content-media{
			width: 50vw;
			float: right;
			height: 100%;
			
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@include respond('tab-port'){
				width: 100%;
			}
		}
		&:not(.right){
			.content-info{
				padding: 100px 0 70px 100px;
				
				@include respond('laptop'){
					padding: 70px 0 40px 50px;
				}
				@include respond('tab-land'){
					padding: 70px 0 40px 10px;
				}
				@include respond('tab-port'){
					padding: 30px 0 0;
				}
			}
		}
		&.right{
			.content-info{
				padding: 100px 100px 70px 0;
				
				@include respond('laptop'){
					padding: 70px 50px 40px 0;
				}
				@include respond('tab-land'){
					padding: 70px 10px 40px 0;
				}
				@include respond('tab-port'){
					padding: 0 0 30px;
				}
			}
			.content-media{
				float: left;
			}
		}
	}
	&.style-7{
		.content-media{
			margin-right: -80px;
			margin-left: 50px;
			margin-bottom: -70px;
		}
		&.right{
			.content-media{
				margin-right: 50px;
				margin-left: -80px;
			}	
		}
		@include respond('tab-land'){
			.content-media{
				margin-right: -30px;
				margin-left: 0;
			}
			&.right{
				.content-media{
					margin-right: 0;
					margin-left: -30px;
				}
			}
		}
		@include respond('tab-port'){
			.content-media{
				margin-right: 0;
				margin-left: 0;
			}
			&.right{
				.content-media{
					margin-right: 0;
					margin-left: 0;
				}
				& > .container > .row{
					flex-direction: column-reverse;
				}
			}
		}
	}
	&.style-8{
		.map-wrapper{
			position: absolute;
			width: 100%;
			height: 100%;
			padding-top: 60px;
			left: 0;
			bottom: 0;
			
			iframe{
				width: 100%;
				height: 100%;
				margin-bottom: -8px;
			}
			@include respond('tab-port'){
				position: relative;
				height: 550px;
				padding-top: 0;
			}
			@include respond('phone'){
				height: 450px;
			}
		}
		.item1{
			margin-bottom: 20px;
			
			@include respond('tab-port'){
			    margin-bottom: 30px;
				margin-top: 30px;
			}
		}
	}
}

// DZ-FLEX-WRAPPER ====
.dz-flex-wrapper{
	--service-count: 5;
    display: flex;
	counter-reset: counter-item;
	
	@include respond('tab-land'){
		--service-count: 4;
	}
	@include respond('tab-port'){
		--service-count: 1;
	}
	.dz-flex-item{
		display: flex;
		position: relative;
		flex: 0 0 120px;
		transition: all 0.5s;
		background-position: center;
		margin: 0px 18px 0px 0px;
		overflow: hidden;
		width: 120px;
		gap: 0;
		
		&:last-child{
			margin-right:0;
		}
		@include custommq ($max:1380px){
			flex: 0 0 100px;
			width: 100px;
		}
		@include respond('tab-land'){
			flex: 0 0 80px;
			width: 80px;
		}
		@include respond('tab-port'){
			flex: 0 0 100% !important;
			width: 100% !important;
			margin: 0;
		}
		&.active{
			background-image: none !important;
			width: calc(100% - calc(calc(var(--service-count) - 1)* 140px));
			flex: 0 0 calc(100% - calc(calc(var(--service-count) - 1)* 140px));
			
			@include custommq ($max:1380px){
				width: calc(100% - calc( calc(var(--service-count) - 1) * 120px));
				flex: 0 0 calc(100% - calc( calc(var(--service-count) - 1) * 120px));
			}
			@include respond('tab-land'){
				width: calc(100% - calc( calc(var(--service-count) - 1) * 100px));
				flex: 0 0 calc(100% - calc( calc(var(--service-count) - 1) * 100px));
			}
		}
	}

	.dz-flex-head{
		padding: 25px 0px 90px 0;
		text-align: center;
		min-height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		transition: all 0.2s;
		opacity: 1;
		visibility: visible;
		width: 100%;
		z-index: 2;
		cursor: pointer;
		border-radius: 15px;
		background-blend-mode: color-burn;
		overflow: hidden;
		position: relative;
		max-width: 120px;
		background-position: center top;
	
		&::before,
		&::after{
			position: absolute;
		}
		&::before{
			font-size: 70px;
			line-height: 1.2;
			font-weight: 700;
			color: #feffff;
			opacity: 0.1;
			left: 50%;
			bottom: 0;
			z-index: 2;
			-webkit-transition: all 0.5s;
			-ms-transition: all 0.5s;
			transition: all 0.5s;
			transform: translate(-50%);
			content: "0" counter(counter-item);
			counter-increment: counter-item;
	
			@include respond("laptop"){
				font-size: 55px;
			}
		}
		&::after{
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--bs-secondary);
			opacity: 0.7;
			border-radius: 15px;
		}
		.title{
			color: #fff;
			margin: 0;
			font-weight: 400;
			font-size: 24px;
			writing-mode: vertical-rl;
			transform: rotate(180deg);
			position: relative;
			z-index: 1;
		}
		.btn{
			position: relative;
			z-index: 1;
		}
		@include custommq ($max:1380px){
			padding: 15px 0px 80px 0;
			min-height: 440px;
			max-width: 100px;
			
			.title {
				font-size: 20px;
			}
			&::before {
				font-size: 48px;
				bottom: 10px;
			}
		}
		@include respond('tab-land'){
			max-width: 80px;
		}
		@include respond('tab-port'){
			display: none;
		}
	}
	.dz-flex-info{
		border-radius: 20px;
		opacity: 1;
		transition: all 0.5s;
		height: 100%;
		overflow: hidden;
		z-index: 1;
		display: flex;
		background-color: #fff;
		width: inherit;
		flex: 1;
	
		&::before{
			font-size: 150px;
			line-height: 1;
			font-weight: 600;
			color: var(--bs-secondary);
			opacity: 0.03;
			position: absolute;
			right: 15px;
			top: 15px;
			z-index: -1;
			-webkit-transition: all 0.5s;
			-ms-transition: all 0.5s;
			transition: all 0.5s;
			content: "0" counter(counter-item);
		}
		@include respond('tab-port'){
			width: 100%;
			
			&::before{
				font-size: 80px;
			}
		}
		.dz-title{
			@include respond('tab-port'){
				font-size: 20px;
			}
			@include respond('phone-land'){
				font-size: 18px;
			}
		}
		.text{
			margin-bottom: 30px;
			font-size: 18px;
			
			@include respond('tab-port'){
				margin-bottom: 15px;
				font-size: 16px;
			}
		}
	}
	.dz-info{
		display: flex;
		flex-direction: column;
		padding: 15px 0;
		
		@include respond('phone-land'){
			padding: 15px 0 0;
		}
		ul.list-check-try li {
			font-size: 18px;
			padding: 4px 0px 4px 30px;
			
			@include respond('tab-port'){
				font-size: 16px;
				padding: 4px 0px 4px 25px;
				
				&:before{
					width: 16px;
					height: 16px;
					line-height: 16px;
					top: 7px;
					font-size: 10px;
				}
			}
		}
		.item1{
			margin-top: auto;
		}
	}
	.dz-media{
		width: 300px;
		height: 440px;
		min-width: 300px;
		
		img{
			width:100%;
			height:100%;
			object-fit: cover;
			border-radius: 15px;
		}
		.btn{
			position: absolute;
			bottom: 20px;
			left: 20px;
			right: 20px;
			border-radius: 8px;
			font-weight: 500;
		}
		@include custommq ($max:1380px){
			width: 250px;
			height: 400px;
			min-width: 250px;
			
			.btn{
				bottom: 10px;
				left: 10px;
				right: 10px;
			}
		}
		@include respond('phone-land'){
			width: 100%;
			height: 350px;
			min-width: 100%;
		}
		@include respond('phone'){
			height: 280px;
		}
	}
	.dz-flex-inner{
		display: flex;
		gap: 30px;
		padding: 30px;
		min-width: 750px;
		
		@include custommq ($max:1380px){
			gap: 20px;
			padding: 20px;
			min-width: 600px;
		}
		@include respond('tab-port'){
			min-width: 100%;
		}
		@include respond('phone-land'){
			flex-direction: column;
			gap: 10px;
		}
	}
	.dz-flex-item.active{
		.dz-flex-info{
			width: 100%;
		}
		.dz-flex-head{
			width: 0;
			visibility: hidden;
		}
	}
	@include custommq ($max:1380px){
		.btn-square.btn{
			height: 45px;
			width: 45px;
			min-width: 45px;
		}
	}


	// Style-2 //
	&.style-2{
		.dz-media{
			.btn{
				border-radius: 50px;
			}
		}
		.dz-flex-info{
			&::before{
				content: none;
			}
		}
	}
}
// DZ-FLEX-WRAPPER-END ====


// CONTENT-BX-START
.content-bx{
	&.style-1{
		background: #fff;
		padding: 30px 30px 0;
		color: #fff;
		border-radius: 15px;
		padding-bottom: 0;
		
		.title{
			font-size: 28px;
			font-weight: 700;
			color: $white;
			
			span{
				font-weight: 400;
				display: block;			
			}
		}
		p{
			font-weight: 300;
			font-size: 16px;
			line-height: 1.4;
			margin-bottom: 10px;
		}
		.btn-link{
			font-size: 28px;
		}
		.dz-media{
			width: 245px;
			height: 275px;
			margin-left: auto;
			margin-right: auto;
			
			img{
				height:100%;
				object-fit: cover;
			}
		}
	}
	&.style-2{
		color: var(--bs-secondary);
		padding: 12px 20px;
		font-size: 18px;
		max-width: 600px;
		
		&:not(.right){
			border-left: 4px solid var(--bs-color);
			background-image: linear-gradient(45deg, rgba(var(--bs-color-rgb), 0.1), transparent 80%);
		}
		&.right{
			border-right: 4px solid var(--bs-color);
			background-image: linear-gradient(270deg, rgba(var(--bs-color-rgb), 0.1), transparent 80%);
			text-align: right;
		}
		&.primary{
			--bs-color: var(--bs-primary);
			--bs-color-rgb: var(--bs-primary-rgb);
		}
		&.secondary{
			--bs-color: var(--bs-secondary);
			--bs-color-rgb: var(--bs-secondary-rgb);
		}
		&.info{
			--bs-color: var(--bs-info);
			--bs-color-rgb: var(--bs-info-rgb);
		}
		&.dark{
			--bs-color: var(--bs-dark);
			--bs-color-rgb: var(--bs-dark-rgb);
		}
		&.light{
			--bs-color: var(--bs-light);
			--bs-color-rgb: var(--bs-light-rgb);
		}
		&.success{
			--bs-color: var(--bs-success);
			--bs-color-rgb: var(--bs-success-rgb);
		}
		&.warning{
			--bs-color: var(--bs-warning);
			--bs-color-rgb: var(--bs-warning-rgb);
		}
		
		@include respond('tab-land'){
			font-size: 16px;
		}
		@include respond('phone'){
			font-size: 15px;
		}
	}
	&.style-3{
		--spacing: 120px;
		
		background-color: rgba(var(--bs-primary-rgb), 0.07);
		border-radius: var(--radius-xl);
		overflow: hidden;
		background-blend-mode: darken;
		min-height: 500px;
		align-items: center;
		margin-left: -150px;
		margin-right: -150px;
	    padding: var(--spacing);
		
		.dz-media{
			margin: calc(-1 * var(--spacing)) 50px calc(-1 * var(--spacing)) calc(-1 * var(--spacing));
		}
		.title{
			font-size: 65px;
			line-height: 1.3;
			margin-bottom: 35px;
		}
		@include respond('laptop'){
			--spacing: 50px;
			
			margin-left: 0;
			margin-right: 0;
			min-height: 200px;
			
			.title{
				font-size: 52px;
			}
		}
		@include respond('tab-land'){
			--spacing: 30px;
			
			.title{
				font-size: 36px;
			}
		}
		@include respond('tab-port'){
			.title{
				font-size: 30px;
				margin-bottom: 20px;
			}
		}
		@include respond('phone-land'){
			.dz-media{
				margin: calc(-1 * var(--spacing)) calc(-1 * var(--spacing)) 25px calc(-1 * var(--spacing));
			}
		}
		@include respond('phone'){
			--spacing: 25px;
			
			.title{
				font-size: 24px;
			}
			.dz-media{
				margin: calc(-1 * var(--spacing)) calc(-1 * var(--spacing)) 20px calc(-1 * var(--spacing));
			}
		}
	}
	
	&.style-4{
		padding: 100px 120px;
		border-radius: 40px;
		
		p{
			font-size: 18px;
		}
		@include respond('laptop'){
			padding: 70px 80px;			
			border-radius: 30px;
			
			p{
				font-size: 16px;
			}
		}
		@include respond('tab-port'){
			padding: 50px;
			border-radius: 20px;
		}
		@include respond('phone'){
			padding: 25px;
			border-radius: 10px;
			
			p{
				font-size: 15px;
			}
		}
	}
	&.style-5{
		background: #fff;
		padding: 30px;
		border-radius: var(--radius-md);
		width: 330px;
		box-shadow: var(--bs-box-shadow-sm);
		
		.content-logo{
			margin-bottom: 25px;
			width: 150px;
		}
		.btn-close{
			padding: 0;
			top: 20px;
			right: 20px;
			font-size: 20px;
			background: none;
			opacity: 1;
			width: auto;
			height: auto;
		}
		@include respond('phone'){
			padding: 20px;
			width: 300px;
			margin-bottom: 10px;
			margin-left: -5px;
		}
	}
}
// CONTENT-BX-END

// DZ-IMG-BOX-START =======
.dz-img-box{
	&.style-1{
		display: flex;
		background-color: #fff;
		border-radius: 15px;
		padding: 18px 15px;
		gap: 12px;
		align-items: center;
		box-shadow: 0 0 35px rgba(var(--bs-secondary-rgb), 0.05);
	
		.title{
			font-size: 18px;
			margin-bottom: 3px;
		}
		p{
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 3px;
		}
		.btn-link{
			text-decoration: none;
			color: var(--bs-primary);
			font-size: 14px;
		}
		
		&.grid-bx{
			flex-direction: column;
		}
		&.box-lg{
			padding: 45px 35px;
			
			.dz-media{
				width: 150px;
			}
			.title{
				font-size: 24px;
				margin-bottom: 5px;
				font-weight: 700;
			}
			p{
				font-size: 16px;
				margin-bottom: 8px;
			}
			@include respond('phone-land'){
				padding: 35px 25px;
				
				.title{
					font-size: 20px;
				}
				p{
					font-size: 14px;
				}
				.btn-link {
					font-size: 13px;
				}
				.dz-media{
					width: 120px;
				}
			}
		}
	}
	&.style-2{
		background-color: #fff;
		border-radius: var(--radius-md);
		box-shadow: 0 0 30px rgba(var(--bs-secondary-rgb), 0.05);
		@include transitionFast;
		padding: 10px;
		height: 100%;
		display: flex;
		flex-direction: column;
	
		&:hover{
			transform: translateY(-5px);
		}
		.title{
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 20px;
			font-weight: 600;
			
			img{
				width: 24px;
			}
		}
		.dz-content{
		    padding: 18px 15px;
		}
		.dz-head{
			padding: 5px 20px;
		}
		.dz-footer{
			padding: 18px 30px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			margin: auto  -10px -10px;
			
			.btn-link{
				text-decoration: none;
				font-weight: 500;
			}
		}
		.dz-media{
			min-width: 190px;
			height: 190px;
			border-radius: var(--radius-lg);
	
			img{
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
// DZ-IMG-BOX-END =======

.map-wrapper{
	&.style-1{
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.5);
		height: 480px;
		border-radius: var(--radius-lg);
		overflow: hidden;
		
		iframe{
			border-radius: var(--radius-lg);
		}
		@include respond('tab-port'){
			height: 400px;			
		}
		@include respond('phone'){
			height: 300px;
			padding: 5px;
		}
	}
}



$circleWrapperStart: translate(-50%, -50%) rotate(0deg);
$circleWrapperEnd: translate(-50%, -50%) rotate(360deg);

@-webkit-keyframes circleWrapper{
	from {
		-webkit-transform: $circleWrapperStart;
		-o-transform: $circleWrapperStart;
		transform:  $circleWrapperStart;
	}
	to {
		-webkit-transform: $circleWrapperEnd;
		-o-transform: $circleWrapperEnd;
		transform: $circleWrapperEnd;
	}
}
@keyframes circleWrapper{
	from {
		-ms-transform:  $circleWrapperStart;
		-moz-transform:  $circleWrapperStart;
		-webkit-transform:  $circleWrapperStart;
		-o-transform:  $circleWrapperStart;
		transform:  $circleWrapperStart;
	}
	to {
		-ms-transform: $circleWrapperEnd;
		-moz-transform: $circleWrapperEnd;
		-webkit-transform: $circleWrapperEnd;
		-o-transform: $circleWrapperEnd;
		transform: $circleWrapperEnd;
	}
}

$circleWrapperStart2: rotate(0deg);
$circleWrapperEnd2: rotate(360deg);

@-webkit-keyframes circleWrapper2{
	from {
		-webkit-transform: $circleWrapperStart2;
		-o-transform: $circleWrapperStart2;
		transform:  $circleWrapperStart2;
	}
	to {
		-webkit-transform: $circleWrapperEnd2;
		-o-transform: $circleWrapperEnd2;
		transform: $circleWrapperEnd2;
	}
}
@keyframes circleWrapper2{
	from {
		-ms-transform:  $circleWrapperStart2;
		-moz-transform:  $circleWrapperStart2;
		-webkit-transform:  $circleWrapperStart2;
		-o-transform:  $circleWrapperStart2;
		transform:  $circleWrapperStart2;
	}
	to {
		-ms-transform: $circleWrapperEnd2;
		-moz-transform: $circleWrapperEnd2;
		-webkit-transform: $circleWrapperEnd2;
		-o-transform: $circleWrapperEnd2;
		transform: $circleWrapperEnd2;
	}
}

